<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seddit</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
<nav>
        <div id="nav-div">
            <div id="nav-inner">
                <div class="center-div" style="white-space: nowrap; vertical-align: middle;">
                    <p id="nav-header-profile">Seddit</p>
                </div>
            </div>
            <div style="clear:both"></div>
            <div id="nav-options">
                <div class="nav-option-div">
                    <a id="loginButton" class="nav-option-text" href="/login">Log in</a>
                </div>
                <div class="nav-option-div">
                    <a id="signupButton" class="nav-option-text" href="/signup">Sign Up</a>
                </div>
            </div>
        </div>
  </nav>
  <div id="main">
      <div style="padding: 20px">
        <h1>404</h1>
        <h2>It appears you may have strayed from the path a bit</h2>
        <a href="/" style="color: black; margin-top: 10px; display: block;">Go Home</a>
    </div>
  </div>

  <div id="post-message"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage">Wrong username or password</span></h3><img id="post" src="assets/img/domo.png" alt="domo"/>
  </div>
</body>
</html>
